html {
    font-size: 20px
}

body {
    background-color: #344E41;
    color: #DAD7CD;
}

p {
    text-align: left;
}

a {
    color: #588157;
}

a:visited {
    color: #A3B18A;
}

a:hover {
    color: #3A5A40;
}

nav {
    text-align: center;
}

#palette-section {
    text-align: center;
    padding: 10px 20px 10px 20px;
    margin: 15vw 20vh;
    background-color: #A3B18A;
    border: 15px;
    
}

.center-image {
    text-align: center;
}

table, tr, th, td, caption {
    border: 1px solid;
    color:#DAD7CD;
    width: 300px
}

img {
    border: 10px solid black;
    border-width: 3px;
    border-radius: 10px;
    margin: 10px 20px 25px 30px;
}